In [8]:
"""
The 2,000 record IMDb movie review database is accessible through NLTK directly with
from nltk.corpus import movie_reviews
"""
import numpy as np
import pandas as pd
import os
path="D:/Natural Processing Language/BUAN 6V99 _MARCH_10/BUAN 6V99/Python Data Files"
os.chdir(path)

df = pd.read_csv('moviereviews.tsv', sep='\t')
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [9]:
df['label'].value_counts()

pos    1000
neg    1000
Name: label, dtype: int64

In [10]:
# REMOVE NaN VALUES AND EMPTY STRINGS:
df.dropna(inplace=True)
blanks = []  # start with an empty list

for i,lb,rv in df.itertuples():  # iterate over the DataFrame
    if type(rv)==str:            # avoid NaN values
        if rv.isspace():         # test 'review' for whitespace
            blanks.append(i)     # add matching index numbers to the list

df.drop(blanks, inplace=True)
df['label'].value_counts()

pos    969
neg    969
Name: label, dtype: int64

In [14]:

from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()

df['scores'] = df['review'].apply(lambda review: sid.polarity_scores(review))
df['compound']  = df['scores'].apply(lambda x: x['compound'])
df['comp_score'] = df['compound'].apply(lambda c: 'pos' if c >=0 else 'neg')
df.head()

,label,review,scores,compound,comp_score
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125,neg
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618,neg
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.067, 'neu': 0.783, 'pos': 0.15, 'com...",0.9953,pos
3,pos,according to hollywood movies made in last few...,"{'neg': 0.069, 'neu': 0.786, 'pos': 0.145, 'co...",0.9972,pos
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.09, 'neu': 0.822, 'pos': 0.088, 'com...",-0.7264,neg

In [15]:
# Perform a comparison analysis between the original label and comp_score
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
accuracy_score(df['label'],df['comp_score'])

0.6367389060887513

In [16]:
print(classification_report(df['label'],df['comp_score']))

             precision    recall  f1-score   support

        neg       0.72      0.44      0.55       969
        pos       0.60      0.83      0.70       969

avg / total       0.66      0.64      0.62      1938

In [17]:
print(confusion_matrix(df['label'],df['comp_score']))

[[427 542]
 [162 807]]